<launch>
  <!--Load urdf to param server-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kuka_arm)/urdf/kr210.urdf.xacro'"/>

  <!--GUI used to send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <rosparam>
      zeros:
        joint_1: -0.79
        joint_2: -0.11
        joint_3: 0.94
        joint_4: 1.94
        joint_5: 1.14
        joint_6: -3.68
    </rosparam>
    <rosparam1>
      zeros:
        joint_1: -2.99
        joint_2: -0.12
        joint_3: 0.94
        joint_4: 4.06
        joint_5: 1.29
        joint_6: -4.12
    </rosparam1>
  </node>

  <!--Publish robot state to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!--rviz-->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    output="screen" args="-d $(find kuka_arm)/config/forward_kinematics.rviz"/>
</launch>
